<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-xinge"
        version="1.0.0">

    <name>Xinge</name>
    <description>Cordova Xinge Plugin</description>
    <license>MIT</license>
    <keywords>cordova,xinge</keywords>
    <repo>https://github.com/bqluan/cordova-plugin-xinge.git</repo>
    <issue>https://github.com/bqluan/cordova-plugin-xinge/issues</issue>

    <preference name="ANDROID_XG_ACCESS_ID" />
    <preference name="ANDROID_XG_ACCESS_KEY" />
    <preference name="IOS_XG_ACCESS_ID" />
    <preference name="IOS_XG_ACCESS_KEY" />

    <js-module src="www/xinge.js" name="xinge">
        <clobbers target="xinge" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <edit-config file="AndroidManifest.xml" target="/manifest/uses-sdk" mode="merge">
            <uses-sdk android:minSdkVersion="20" />
        </edit-config>

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="xinge" >
                <param name="android-package" value="com.github.bqluan.xinge.Xinge"/>
            </feature>
            <preference name="XG_ACCESS_ID" value="$ANDROID_XG_ACCESS_ID"/>
            <preference name="XG_ACCESS_KEY" value="$ANDROID_XG_ACCESS_KEY"/>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <!-- 【必须】 信鸽SDK所需权限 -->
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.WAKE_LOCK" />
            <uses-permission android:name="android.permission.VIBRATE" />
            <!-- 【常用】 信鸽SDK所需权限 -->
            <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
            <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
            <!-- 【可选】 信鸽SDK所需权限 -->
            <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->
            <!-- <uses-permission android:name="android.permission.WRITE_SETTINGS" /> -->
            <!-- <uses-permission android:name="android.permission.RESTART_PACKAGES" /> -->
            <!-- <uses-permission android:name="android.permission.BROADCAST_STICKY" /> -->
            <!-- <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" /> -->
            <!-- <uses-permission android:name="android.permission.GET_TASKS" /> -->
            <!-- <uses-permission android:name="android.permission.READ_LOGS" /> -->
            <!-- <uses-permission android:name="android.permission.BLUETOOTH" /> -->
            <!-- <uses-permission android:name="android.permission.BATTERY_STATS" /> -->
            <!-- <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> -->
            <!-- <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> -->
        </config-file>

        <source-file src="src/android/Xinge.java" target-dir="src/com/github/bqluan/xinge" />

        <framework src="android-build.gradle" custom="true" type="gradleReference" />
    </platform>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="xinge">
                <param name="ios-package" value="CDVXinge"/>
            </feature>
            <preference name="XG_ACCESS_ID" value="$IOS_XG_ACCESS_ID"/>
            <preference name="XG_ACCESS_KEY" value="$IOS_XG_ACCESS_KEY"/>
        </config-file>

        <header-file src="src/ios/CDVXinge.h"/>
        <source-file src="src/ios/CDVXinge.m"/>
        <header-file src="src/ios/AppDelegate+CDVXinge.h" />
        <source-file src="src/ios/AppDelegate+CDVXinge.m" />

        <framework src="QQ_XGPush" type="podspec" spec="3.2.0" />
    </platform>

</plugin>
