<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:rim="http://www.blackberry.com/ns/widgets"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-xinge"
        version="1.0.0">

    <name>Xinge</name>
    <description>Cordova Xinge Plugin</description>
    <license>MIT</license>
    <keywords>cordova,xinge</keywords>
    <repo>https://github.com/bqluan/cordova-plugin-xinge.git</repo>
    <issue>https://github.com/bqluan/cordova-plugin-xinge/issues</issue>

    <js-module src="www/xinge.js" name="xinge">
        <clobbers target="xinge" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="xinge" >
                <param name="android-package" value="com.github.bqluan.xinge.Xinge"/>
            </feature>
        </config-file>

        <source-file src="src/android/Xinge.java" target-dir="src/com/github/bqluan/xinge" />

        <framework src="android-build.gradle" custom="true" type="gradleReference" />
    </platform>

</plugin>
